.firsth1{
     text-transform: capitalize;
     color: crimson;
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
}

#sentence{
    text-align: center;

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.mainclass{
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: aquamarine;
}

.centerdiv{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

#typingspace{
    background-color: dimgray;
    border-color:cornflowerblue;
    border-width: 10px;
    border-radius: 20px;
    font-size: 20px;
    color: antiquewhite;

}

::placeholder {
    color:darkgray;
    opacity: 1; 
  }


#btn{
    background-color: aqua;
    font-size: 25px;
    border-radius: 15px;
    border-color: cadetblue;
    border-width: 5px ;
}




